@page "/admin/servicos/create"
@attribute [Authorize]
@using Microsoft.EntityFrameworkCore
@using teste.Models
@inject IDbContextFactory<teste.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

@rendermode InteractiveServer
<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Servico</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Servico" OnValidSubmit="AddServico" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="nome" class="form-label">Nome:</label> 
                <InputText id="nome" @bind-Value="Servico.Nome" class="form-control" /> 
                <ValidationMessage For="() => Servico.Nome" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="descricao" class="form-label">Descricao:</label> 
                <InputText id="descricao" @bind-Value="Servico.Descricao" class="form-control" /> 
                <ValidationMessage For="() => Servico.Descricao" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="preco" class="form-label">Preco:</label> 
                <InputNumber id="preco" @bind-Value="Servico.Preco" class="form-control" /> 
                <ValidationMessage For="() => Servico.Preco" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="duracaoemminutos" class="form-label">DuracaoEmMinutos:</label> 
                <InputNumber id="duracaoemminutos" @bind-Value="Servico.DuracaoEmMinutos" class="form-control" /> 
                <ValidationMessage For="() => Servico.DuracaoEmMinutos" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/servicos">Back to List</a>
</div>

@code {
    private Servico Servico { get; set; } = new();

    protected override void OnInitialized()
    {
        Servico = new Servico();
    }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddServico()
    {
        using var context = DbFactory.CreateDbContext();
        context.Servico.Add(Servico);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/servicos");
    }
}
