@page "/admin/servicos/edit"
@attribute [Authorize]
@using Microsoft.EntityFrameworkCore
@using teste.Models
@inject IDbContextFactory<teste.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

@rendermode InteractiveServer
<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Servico</h2>
<hr />
@if (Servico is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Servico" OnValidSubmit="UpdateServico" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Servico.Id" value="@Servico.Id" />
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome:</label>
                    <InputText id="nome" @bind-Value="Servico.Nome" class="form-control" />
                    <ValidationMessage For="() => Servico.Nome" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="descricao" class="form-label">Descricao:</label>
                    <InputText id="descricao" @bind-Value="Servico.Descricao" class="form-control" />
                    <ValidationMessage For="() => Servico.Descricao" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="preco" class="form-label">Preco:</label>
                    <InputNumber id="preco" @bind-Value="Servico.Preco" class="form-control" />
                    <ValidationMessage For="() => Servico.Preco" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="duracaoemminutos" class="form-label">DuracaoEmMinutos:</label>
                    <InputNumber id="duracaoemminutos" @bind-Value="Servico.DuracaoEmMinutos" class="form-control" />
                    <ValidationMessage For="() => Servico.DuracaoEmMinutos" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/admin/servicos">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    private Servico? Servico { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Servico = await context.Servico.FirstOrDefaultAsync(m => m.Id == Id);

        if (Servico is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateServico()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Servico!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ServicoExists(Servico!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/admin/servicos");
    }

    private bool ServicoExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Servico.Any(e => e.Id == id);
    }
}
