@inject NavigationManager NavigationManager
 
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin">
            <i class="fas fa-cut me-2"></i>BarberShop
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <AuthorizeView Roles="Admin,Profissional">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin" Match="NavLinkMatch.All">
                        <i class="fas fa-home me-2"></i> Dashboard
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/agendamentos">
                        <i class="fas fa-calendar-check me-2"></i> Agendamentos
                    </NavLink>
                </div>

                <AuthorizeView Roles="Admin" Context="adminContext">
                    <Authorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="/admin/servicos">
                                <i class="fas fa-scissors me-2"></i> Serviços
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>

                <AuthorizeView Roles="Admin" Context="adminContext2">
                    <Authorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="/admin/clientes">
                                <i class="fas fa-user-friends me-2"></i> Clientes
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>

                <AuthorizeView Roles="Admin" Context="adminContext5">
                    <Authorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="/admin/profissionais">
                                <i class="fas fa-user-tie me-2"></i> Profissionais
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>

                <AuthorizeView Roles="Admin" Context="adminContext6">
                    <Authorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="/admin/usuarios">
                                <i class="fas fa-users me-2"></i> Usuários
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>

                <AuthorizeView Roles="Admin" Context="adminContext4">
                    <Authorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="/admin/configuracao">
                                <i class="fas fa-cog me-2"></i> Configuração
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>

                <AuthorizeView Roles="Profissional" Context="profissionalContext">
                    <Authorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="/admin/perfil-profissional">
                                <i class="fas fa-user-tie me-2"></i> Meu Perfil
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <i class="fas fa-user me-2"></i> Perfil
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>
